{% extends "listsapp/layout.html" %}

{% block body %}

<h1>{{request.user}}'s Followed Lists</h1>

{% for list in lists %}
    {% if list.public == True or request.user.username in list.creator.username %}
    <div class="list">
        <h3 class="listitem">{{list.title}}</h3>
        <p class="listitem">User: <a href="{% url 'profile' list.creator.id %}">{{list.creator.username}}</a></p>
        <h6 class="listitem">Date Created: {{list.timestamp}}</h6>
        <ul class="listitem">
            {% for listitem in list.listitems.all %}
                {% if request.user.is_authenticated and request.user.username in list.creator.username %}
                <li class="listActionItem"><form method="PUT">{% csrf_token %}
                    <input type="checkbox" name="checkboxComplete" class="checkboxComplete">        {{listitem.content}}
                    <input type="hidden" value="{{listitem.id}}" name="completeListItemId">
                </form></li>
                {%else%}
                <li class="listActionItemNonEditable">{{listitem.content}}</li>
                {%endif%}
            {%endfor%}
        </ul>
        {% if request.user.is_authenticated and request.user.username in list.creator.username %}
            <form name="deleteListForm" method="POST" class="listitem">
                {% csrf_token %}
                <input type="submit" value="Delete List" />
                <input type="hidden" value="{{list.id}}" name="deleteListId">
            </form>
            <form name="editListForm" method="POST" action="{% url 'edit_list' list.id %}" class="listitem">
                {% csrf_token %}
                <input type="submit" value="Edit List" />
            </form>
        {%endif%}
        {% if request.user.is_authenticated and request.user.username not in list.creator.username %}
            <form name="followListForm" method="POST" class="listitem">
                {% csrf_token %}
                <input type="submit" value="Follow List" name="followBtn" />
                <input type="hidden" value="{{list.id}}" name="followListId">
            </form>
        {%endif%}
    </div>
    {% endif %}
{%endfor%}

<nav class="paginator" style="text-align: center;">
    <ul class="pagination">
        {% if lists.has_next %}
            <li class="page_item"><a href="?page={{ lists.next_page_number }}">next</a></li>
        {%endif%}
        {% if lists.has_previous %}
            <li class="page_item"><a href="?page=1">&laquo; first   /   </a></li>
            <li class="page_item"><a href="?page={{ lists.previous_page_number }}">   previous</a></li>
        {% endif %}
    </ul>
</nav>

{% endblock %}